<div class="column is-9">
    <div class="box post-container">

        <% posts.each do |post| %>
        
            <div class="content p-2 post" >
                <h1 class="title is-5">
                    <%= link_to post.title, post %>
                </h1>
                <div class="level is-mobile  mb-1">
                    <div class="level-left">

                        <div class="level-item">
                            <small>
                                submitted by
                                <strong>
                                    <% if user_signed_in? %>
                                        <%= post.user.name %>
                                    <% else %>
                                        Anonymous
                                    <% end %>
                                </strong>
                                <%= time_ago_in_words(post.created_at) %>
                                ago
                            </small>
                        </div>


                    </div>
                    <div class="level-right">
                        <span class="level-item icon mr-1">
                            <i class="far fa-comments has-text-grey "></i>
                        </span>
                        <p class="has-text-grey"> <%= post.comments.length %></p>
                    </div>
                </div>

                
                <% if post.created_at != post.updated_at%>
                    <small >
                        edited
                        <%= time_ago_in_words(post.updated_at) %>
                        ago <br>
                    </small>
                    
                <% end %>
                
                <% if post.user == current_user %>
                    <br>
                    <%= link_to edit_post_path(post), class: " mr-0" do %>
                        <span class="icon"><i class="fas fa-edit is-size-5"></i></span>
                    <% end %>

                    <%= link_to post, method: :delete, data: { confirm: "Are you sure you want to delete this post?" }, class:"" do %>
                        <span class="icon"> <i class="fas fa-trash-alt is-size-5"></i></span>
                    <% end %>
                <% end %>

            
            </div>

        <% end %>
    
    </div>
</div>
